project         = "club"
region          = "ap-south-1"
key_name        = "club-key"
instance_type   = "t3.medium"
app_hosted_dns  = "32nd.com"
app_dns_prefix  = "api.club"
bastion_host_prefix  = "bastion.club"
# private_dns     = "app.club"
redis_host_prefix = "redis.club"
app_min_instance_count = 2
app_max_instance_count = 4
dev_min_instance_count = 1
dev_max_instance_count = 1
app_ami         = "ami-08fab01d47695d3ea" // Packer AMI
# bastion_ami     = "ami-0770726357cfe8240"