project         = "hub"
region          = "ap-south-1"
instance_type   = "t3.micro"
key_name        = "hub-key"
app_hosted_dns  = "32nd.com"
app_dns_prefix  = "api.hub"
# app_dns_prefix  = "hub-api"
bastion_host_prefix  = "bastion.hub"
private_dns     = "app.hub"
redis_host_prefix = "redis"
app_ami         = "ami-0e83dc454a61ba75a"